@tailwind base;
@tailwind components;
@tailwind utilities;


/*
Classes not included in Tailwind 
*/

.rotate-y-180 {
  transform: rotateY(180deg);
}

.backface-visible {
  backface-visibility: visible;
}

.backface-hidden {
  backface-visibility: hidden;
}

